* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    position: relative;
    width: 100%;
    height: 65vh;
}
.navbar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background-image: url('img/futuraFachadaNocheGPT\(calidad\).png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 0; /*para que este atras y poder poner lo otro adelante*/
}

.navbar-title {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
    /*font-size: 3.5vh;*/
    font-weight: 700;
    z-index: 1; /*para que aparezca adelante del fondo*/
}

.navbar-title img {
    height: 75px;
    width: auto;
}

.navbar-title h1 {
    font-size: 3.5vh;
    white-space: nowrap; /*hace que no se corte en varias lineas es decir "EETP, ING, NIKOLA; TESLA, */
}

.navbar-title-logo :hover {
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.6s;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    padding: 16px 32px;
    position: relative;
    z-index: 1; /*para que aparezca adelante del fondo*/
}

.navbar-botones {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-botones li a {
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 16px;
    transition: background 0.2s;
    border-radius: 4px;
}

.navbar-botones li a:hover {
    background: #000000a2;
}

.main-content {
    width: 100%;
    margin: 3vh auto;
}

.main-noticias {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.noticias-title-content {
    margin-bottom: 3vh;
    font-size: 18px;
    font-weight: 700;
}

.noticias-card-content {
    display: flex;
    gap: 10vh;
    justify-content: center;
}

.noticias-card img {
    width: 300px;
    height: 300px;
    object-fit: cover; /*para que la imagen no se deforme y ocupe todo el espacio, hay que sacarlo si se va a poner una imagen que no es cuadrada */
}

.noticias-card{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.noticias-card p {
    padding: 15px;
    font-size: 16px;
    color: #333;
    text-align: justify;
}

