* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f8f8;
}
/* COMIENZA EL -NAV- */
nav {
    position: relative;
    width: 100%;
    height: 65vh;
}

.navbar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background-image: url('/img/futuraFachadaDiaGPT.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /*para que este atras y poder poner lo otro adelante*/
}

/* COMIENZA: TITULO (nombre escuela) */

.navbar-title {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
    font-weight: 700;
    z-index: 1; /*para que aparezca adelante del fondo*/
    text-shadow: 0 2px 10px #000000; 
}

.navbar-title h1 {
    font-size: 10vh;
    white-space: nowrap; /*hace que no se corte en varias lineas es decir "EETP, ING, NIKOLA, TESLA, */
}

/* TERMINA: TITULO (nombre escuela) */
/* COMIENZA: LOGO (logo escuela) */
.navbar-logo img{
    height: 100px;
    width: 100px;
    transition: 1.1s;
}

.navbar-logo :hover {
    transform: scale(1.1) rotate(360deg);
}
/* TERMINA: LOGO (logo escuela) */

/* COMIENZO: BOTONES DE LA ESQUINA SUPERIOR DERECHA */

.navbar-topbackground {
    display: flex;
    width: 100%;
    height: 8.5vh;
    align-items: center;
    background-color: #0000004f;
    justify-content: flex-end;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 16px 32px;
}

.navbar-botones {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-botones li a {
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 16px;
    border-radius:10px;
    transition: background 0.5s;
}
.navbar-botones li a:hover {
    background: #0000004f;
}
/* TERMINA: BOTTONES SUPERIOR DERECHA */
/* TERMINA: NAV */

.main-content {
    width: 100%;
    margin: 3vh auto;
}

.main-modalidades {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.card-modalidades {
    display: flex;
    margin: 3vh auto;
    gap: 20vh;
    justify-content: center;
}

.card-modalidades img {
    width: 400px;
    height: 400px;
    object-fit: cover; /*para que la imagen no se deforme y ocupe todo el espacio, hay que sacarlo si se va a poner una imagen que no es cuadrada */
}

.card-modalidad {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    width: 400px;
}


/* 
.noticias-title-content {
    margin-bottom: 3vh;
    font-size: 18px;
    font-weight: 700;
}

.noticias-card-content {
    display: flex;
    gap: 10vh;
    justify-content: center;
}

.noticias-card img {
    width: 300px;
    height: 300px;
    object-fit: cover; /*para que la imagen no se deforme y ocupe todo el espacio, hay que sacarlo si se va a poner una imagen que no es cuadrada 
}

.noticias-card{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.noticias-card p {
    padding: 15px;
    font-size: 16px;
    color: #333;
    text-align: justify;
}
 */
